#audioHide {
    position: absolute;
    top: -100px;
    margin-top: -100px;
}

#metronome {
    background-color: #ccc;
}

.btn.set-bpm {
    width: 56px;
}

.btn.bpm-contol {
    width: 146px;
}

#blinkIndicatorContainer {
    position: relative;
    margin-top: 10px;
}

#blinkIndicator {
    position: absolute;
}

.blink {
    background-color: #f00;
    width: 100%;
    height: 60px;
}

#beatIndicator {
    font-size: 45px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}