/* Customize container */
@media (min-width: 1024px) {
    .container {
        max-width: 900px;
    }
}

@media screen and (min-width: 990px) {
    .controls .mark-controls {
        display: inline;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    header {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 30px;
    }
}

body{
    color: #b4ca38;
}

hr {    
    color : #b4ca38;
    background-color: #b4ca38;
    height: 1px;
    border: 0;
}

#beatIndicator.blink {
    background-color: #f00;
}

#beatIndicator {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border: 1px solid #b4ca38;
    border-radius: 500px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.my{
    background-color: #9c2a61;
    box-shadow: 8px 8px 12px #ccc;
    border : 5px solid #b4ca38;
    margin-top : 25px;
}

.dropdown{
    position : relative;
    /*margin-top : 20px;*/
}